.fixed-header, .fixed-footer{
    width: 100%;
    position: fixed;
    padding: 10px 0px;
}

.fixed-header {
    top: 0;
}

.fixed-footer{
    bottom: 0;
    background-color: #f2f2f2;
}

.header-container {
    width: 100%;
    margin: 0 0;
}

.footer-container a {
    color: #70757a;
    text-decoration: none;
    padding: 7px 20px;
}

.footer-container a:hover{
    text-decoration: underline;
}

.store-link{
    padding-right: 76%;
}

nav a {
    color: black;
    padding: 7px 25px;
    display: inline-block;
    font-size: 12px;
    text-decoration: none;
}

nav a:hover{
    text-decoration: underline;
}

nav button {
    background-color: #007cf8;
    border: 1px solid #0080ff;
    color: rgb(240, 240, 240);
    border-radius: 5px;
    font-family: roboto, arial, sans-serif;
    font-size: 14px;
    height: 35px;
    min-width: 54px;
    text-align: center;
    padding: 0 16px;
}

nav button:hover{
    background: #1a89f8;
    box-shadow: 0px 2px rgba(190, 190, 190, .7);
}


.main-content-container{
    width: 50%;
    position: fixed;
    margin-left: 750px;
    margin-right: auto;
    margin-top: 200px;
}

.google-logo-div{
    padding: 10px 10px;
    margin-left: 125px;
}

.search-bar-div {
    padding: 20px 10px;
}

.search-bar-div input {
    width: 500px;
}

.below-search-container {
    padding: 10px 10px;
    margin-left: 125px;
}

.google-search-btn, .lucky-btn {
    background-color: #f8f9fa;
    border: 1px solid #f8f9fa;
    border-radius: 4px;
    font-family: roboto, arial, sans-serif;
    font-size: 14px;
    height: 36px;
    min-width: 54px;
    text-align: center;
    padding: 0 16px;
}

.google-search-btn:hover, .lucky-btn:hover{
    border: 1px solid #d6d6d6;
}

.how-search-link {
    padding-right: 60% !important;
}



